/* line 1, ../sass/style.scss */
:root {
  --light-color: #f4f6fd;
  --sea-color: #149ddd;
  --blue-color: #173b6c;
}

/* line 7, ../sass/style.scss */
p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

/* line 14, ../sass/style.scss */
h2 {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 15px;
  margin-top: 0;
  color: var(--blue-color);
  border-bottom: 3px solid var(--sea-color);
  width: 6%;
}

/* line 24, ../sass/style.scss */
.content {
  margin: 0 0 0 215px;
}

/* line 28, ../sass/style.scss */
.head {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
}
/* line 38, ../sass/style.scss */
.head .info {
  margin: 15px 60px;
}
/* line 40, ../sass/style.scss */
.head .info .img {
  max-width: 12%;
  border-radius: 50%;
  border: 8px solid #353740;
}
/* line 45, ../sass/style.scss */
.head .info h1 {
  font-size: 24px;
  margin-left: -33px;
  font-weight: 600;
  color: var(--light-color);
  font-family: "Poppins", sans-serif;
}
/* line 56, ../sass/style.scss */
.head .navbar-nav .nav-item:hover .icon {
  color: var(--sea-color);
}
/* line 60, ../sass/style.scss */
.head .navbar-nav .nav-item .icon {
  font-size: 20px;
  padding-right: 8px;
  color: #6f7180;
}
/* line 65, ../sass/style.scss */
.head .navbar-nav .nav-item a {
  display: block;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 15px;
}
/* line 73, ../sass/style.scss */
.head .navbar-nav .nav-item a:hover {
  color: var(--light-color);
  text-decoration: none;
}
/* line 78, ../sass/style.scss */
.head .navbar-nav .nav-item .active {
  color: var(--light-color);
  text-decoration: none;
}
/* line 81, ../sass/style.scss */
.head .navbar-nav .nav-item .active .icon {
  color: var(--sea-color);
}
/* line 87, ../sass/style.scss */
.head .social {
  display: flex;
  margin-left: 20px;
  position: relative;
}
/* line 91, ../sass/style.scss */
.head .social a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: var(--light-color);
  line-height: 1;
  margin-right: 7px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
/* line 103, ../sass/style.scss */
.head .social a:hover {
  background: var(--sea-color);
  color: var(--light-color);
  text-decoration: none;
}
/* line 109, ../sass/style.scss */
.head .social i {
  color: var(--light-color);
  font-size: 15px;
}
/* line 114, ../sass/style.scss */
.head .footer {
  position: absolute;
  bottom: 100%;
  right: 10%;
  top: 90%;
}
/* line 119, ../sass/style.scss */
.head .footer p {
  color: var(--light-color);
}
/* line 122, ../sass/style.scss */
.head .footer a {
  color: var(--blue-color);
}
/* line 124, ../sass/style.scss */
.head .footer a:hover {
  color: var(--sea-color);
  text-decoration: none;
}

/* line 132, ../sass/style.scss */
.main-section {
  background: linear-gradient(to bottom, rgba(12, 11, 9, 0.337) 0, rgba(12, 11, 9, 0.348) 100%), url("../img/bg.jpg") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 250px 0;
}
/* line 137, ../sass/style.scss */
.main-section .main-content {
  text-align: center;
}
/* line 139, ../sass/style.scss */
.main-section .main-content h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: var(--light-color);
}
/* line 145, ../sass/style.scss */
.main-section .main-content p {
  color: var(--light-color);
  margin-bottom: 50px;
  font-size: 26px;
  margin-left: -12%;
}
/* line 150, ../sass/style.scss */
.main-section .main-content p span {
  color: var(--light-color);
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid var(--sea-color);
  margin-right: 11%;
}

/* line 161, ../sass/style.scss */
.about-section {
  padding: 60px 0;
}
/* line 164, ../sass/style.scss */
.about-section .about-content p {
  width: 102%;
}
/* line 167, ../sass/style.scss */
.about-section .about-content h3 {
  color: var(--blue-color);
  font-size: 27px;
  font-weight: bold;
  text-align: left;
  margin: -7% 0 1% 0%;
  color: var(--blue-color) !important;
}
/* line 175, ../sass/style.scss */
.about-section .about-content .img {
  max-width: 90%;
}
/* line 178, ../sass/style.scss */
.about-section .about-content .brief {
  margin: 40px 0 0 -45px;
}
/* line 181, ../sass/style.scss */
.about-section .about-content .list {
  list-style-type: none;
  margin: 0 0 0 -65px;
}
/* line 184, ../sass/style.scss */
.about-section .about-content .list li {
  margin: 20px 0;
  font-size: 16px;
}
/* line 188, ../sass/style.scss */
.about-section .about-content .list .arrow {
  font-size: 14px;
  margin-right: 5px;
  color: var(--sea-color);
}
/* line 194, ../sass/style.scss */
.about-section .about-content .email {
  margin: 0 0 0 -335px;
}

/* line 200, ../sass/style.scss */
.Projects-section {
  padding: 50px 0;
}
/* line 202, ../sass/style.scss */
.Projects-section .Projects-content {
  position: relative;
}
/* line 204, ../sass/style.scss */
.Projects-section .Projects-content .arrows {
  font-size: 50px;
  top: 50%;
  right: 5%;
  position: absolute;
}
/* line 210, ../sass/style.scss */
.Projects-section .Projects-content .arrow-1 {
  right: 90%;
}
/* line 213, ../sass/style.scss */
.Projects-section .Projects-content .box {
  padding: 20px 70px;
  height: 100%;
  width: 100%;
  margin-top: 10%;
  position: relative;
  text-align: center;
  background: rgba(255, 255, 255, 0.08);
}
/* line 221, ../sass/style.scss */
.Projects-section .Projects-content .box .folders {
  position: absolute;
  top: 3px;
  left: 25%;
  font-size: 80px;
  padding: 12px;
  color: var(--sea-color);
}
/* line 229, ../sass/style.scss */
.Projects-section .Projects-content .box .counter {
  font-size: 50px;
  font-weight: 600;
  color: #050d18;
}
/* line 235, ../sass/style.scss */
.Projects-section .Projects-content .card-text {
  color: var(--blue-color);
}
/* line 238, ../sass/style.scss */
.Projects-section .Projects-content .img-p {
  opacity: 1;
}
/* line 240, ../sass/style.scss */
.Projects-section .Projects-content .img-p:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

/* line 248, ../sass/style.scss */
.skill-section {
  padding: 45px 0;
  background: #f5f8fd;
}
/* line 252, ../sass/style.scss */
.skill-section .skill-content .progress {
  height: 20px;
  display: block;
  background: #dce8f8;
}
/* line 256, ../sass/style.scss */
.skill-section .skill-content .progress .skill {
  position: absolute;
  color: #050d18;
  font-size: 12px;
  font-weight: 800;
  margin-top: -20px;
}
/* line 263, ../sass/style.scss */
.skill-section .skill-content .progress .progress-bar {
  background-color: var(--sea-color);
}

/* line 270, ../sass/style.scss */
.hobbies-section {
  padding: 50px 0;
}
/* line 272, ../sass/style.scss */
.hobbies-section .owl-stage-outer {
  max-width: 77%;
  margin-left: auto;
}
/* line 277, ../sass/style.scss */
.hobbies-section .slider .hobbies-item {
  box-sizing: content-box;
  margin: 30px 15px;
  min-height: 200px;
  box-shadow: 0px 1px 6px;
  background: var(--light-color);
  border-radius: 15px;
}
/* line 285, ../sass/style.scss */
.hobbies-section .slider h4 {
  text-align: center;
  padding: 5px 0px;
  margin: 0;
}
/* line 290, ../sass/style.scss */
.hobbies-section .slider a {
  color: var(--blue-color);
}
/* line 293, ../sass/style.scss */
.hobbies-section .slider img {
  border-radius: 15px;
}

@media (max-width: 500px) {
  /* line 300, ../sass/style.scss */
  .head {
    display: none;
  }

  /* line 303, ../sass/style.scss */
  .main-section {
    padding: 100px 0;
  }
  /* line 306, ../sass/style.scss */
  .main-section .main-content h1 {
    font-size: 40px;
  }
  /* line 309, ../sass/style.scss */
  .main-section .main-content p {
    font-size: 22px;
    margin-left: -15%;
  }

  /* line 316, ../sass/style.scss */
  .about-section .about-content {
    margin: 0;
  }
  /* line 318, ../sass/style.scss */
  .about-section .about-content .img {
    max-width: 100%;
  }
  /* line 321, ../sass/style.scss */
  .about-section .about-content .brief {
    margin: 40px 0 0 -45px;
  }
  /* line 324, ../sass/style.scss */
  .about-section .about-content .list {
    list-style-type: none;
    margin: 0 0 0 -65px;
  }
  /* line 327, ../sass/style.scss */
  .about-section .about-content .list li {
    margin: 20px 0;
    font-size: 16px;
  }
  /* line 331, ../sass/style.scss */
  .about-section .about-content .list .arrow {
    font-size: 14px;
    margin-right: 5px;
    color: var(--sea-color);
  }
  /* line 337, ../sass/style.scss */
  .about-section .about-content .email {
    margin: 0 0 0 -335px;
  }
}
